<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../Public/css/style.css" />
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>mon site d hotels</title>
  </head>
  <body class="body_parent">
    <!-- header -->
    <header class="header">
      <div class="container_header">
        <nav class="navbar_site">
          <div class="brand_site">
            <img
              src="../Public/image/logo_hotel12-removebg-preview.png"
              class="icon_logo"
              alt="logo hotel"
            />
          </div>
          <ul class="link_nav">
            <div class="container_icon_close">
              <i class="fa fa-close icon_close_nav_link "></i>
            </div>
            <li><a href="index.php" >Home</a></li>
            <li><a href="/reservation" id="contact_select">reservation</a></li>
            <li><a href="#section_footer">contact</a></li>
            <li><a href="/connect">connectez vous</a></li>
          </ul>
          <div class="container_icon_toggle">
            <i class="fa fa-bars icon_toggle"></i>
          </div>

          
        </nav>

        <div class="content_text_absolue">
          <h1 class="title1_site">
          </h1>

           
          <form action="" class="formulaire_header">
            <div class="container_input">
              <div class="icon_input">
                <i
                  class="fa fa- fa-4px icon_fa_header_input"
                ></i>
              </div>
              <input
                type="text"
                name="input"
                class="input"
                placeholder="Ville"
              />
            </div>
            <div class="container_input">
              <div class="icon_input">
                <li
                  class="fa fa-time fa-4px icon_fa_header_input icon_fa_header_input"
                ></li>
              </div>
              <input
                type="text"
                name="input"
                class="input"
                placeholder="Arrivee"
              />
            </div>
            <div class="container_input">
              <div class="icon_input">
                <i
                  class="fa fa-location-arrow fa-4px icon_fa_header_input icon_fa_header_input"
                ></i>
              </div>
              <input
                type="text"
                name="input"
                class="input"
                placeholder="Depart"
              />
            </div>
            <div class="container_input">
              <div class="icon_input">
                <i
                  class="fa fa-location-arrow fa-4px icon_fa_header_input icon_fa_header_input"
                ></i>
              </div>
              <input
                type="text"
                name="input"
                class="input"
                placeholder="2 Adultes"
              />
            </div>
            <div class="container_input">
              <div class="icon_input">
                <i
                  class="fa fa-location-arrow fa-4px icon_fa_header_input icon_fa_header_input"
                ></i>
              </div>
              <input
                type="text"
                name="input"
                class="input"
                placeholder="0enfants"
              />
            </div>
            <div class="container_input container_input_search">
              <button
                type="submit"
                class="btn_search container_input"
                name="input"
                value="Recherchez"
                class="input"
                placeholder="0Enfants"
              >Recherchez</button>
            </div>
          </form> -->
          
            
         
        </div>
      </div>
    </header>

    <!-- main body -->

    <main class="">
      <div class="container">
        <h1 class="title2">
         <span class=" text_pays_title_card_generale text_pays_title_card">Reserver</span>
        </h1>
       
        <!-- <h1 class="title2">
          HOTEL EN <span class=" text_pays_title_card_generale text_pays_title_card">TUNISIE</span>
        </h1> -->
       <div class="row_reservation">
         <form action="" class="formulaire_reservation">
         <div class="form_group">
          <label for="nom">Nom:</label>
          <input type="text" id="nom" placeholder="Dupont">
         </div>
         <div class="form_group">
          <label for="prenom">Prenom:</label>
          <input type="text" id="prenom" placeholder="fabien">
         </div>
         <div class="form_group">
          <label for="nationnalite">Nationnalite:</label>
          <input type="text" id="nationnalite" placeholder="francais">
         </div>
         <div class="form_group">
          <label for="paiement"> N carte banquaire:</label>
          <input type="text" id="paiement" placeholder="ex: 0000 77542 3445">
         </div>
        <button class="btn_reservation">valider</button>

         </form>
       </div>
    
      </div>
    </main>
     
      
    <!-- footer  -->

    <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer_case footer_case1 col-md-3">
          <div class="brand_site">
            <img
              src="../Public/image/logo_hotel12-removebg-preview.png"
              class="icon_logo"
              alt="logo hotel"
            />
          </div>
          <p class="text_footer_case1">
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit.
             Ad, earum minima? Accusamus optio quia 
             commodi excepturi assumenda totam, a facilis.
          </p>
        </div>
        <div class="footer_case footer_case2 col-md-3">
          <div>
            <span class="title_input_footer">
              entrer votre Adresse email
            </span>
            <div class="container_input_footer_case2">
              <input type="text" placeholder="your email Adress">
              <button class="submit"> S'inscrire</button>
            </div>
          </div>
           <div class="social_icon_footer_case2">
             <div class="circle_social_icon">
               <i class="fa fa-facebook icon_social_footer_case2"></i>
             </div>
             <div class="circle_social_icon">
              <i class="fa fa-twitter icon_social_footer_case2 "></i>
            </div>
            <div class="circle_social_icon">
              <i class="fa fa-google-plus icon_social_footer_case2 "></i>
            </div>
           </div>
           
        </div>
        <div class="footer_case footer_case3  col-sm-6 col-md-3" id="section_footer">
          <h1 class="text_information link_information_footer">information</h1>
         <p class="paragraph_case_footer3"> <a href="">Hotel </a></p>
         <p class="paragraph_case_footer3"> <a href="">transfert</a></p>
          <p class="paragraph_case_footer3"><a href="">Circuits</a></p>
        </div>
        <div class="footer_case footer_case4  col-sm-6 col-md-3">
          <h1 class="  p_footer_case4 link_information_footer"> <a href=""> Adresse </a></h1>
          <p class="p_footer_case4"> <a href="">Siege social </a></p>
          <p  class="p_footer_case4"> <a href=""><i class="fa fa-phone  icon_footer_case4"></i>Contact </a></p>
          <p  class="p_footer_case4"><a href=""> 36 322 500</a></p>
  
          <div class="icon_paiement">
  
          </div>
  
        </div>
       </div>
    </div>
    </footer>
    <script src="script.js"></script>
  </body>
</html>
